<div class="d-flex justify-content-center flex-wrap gap-4">
  <div class="card" style="width: 18rem;" *ngFor="let car of cars">
    <img src="{{car.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Name of the car : {{car.name}}</p>
      <p class="card-text">ProductionYear of the car : {{car.productionYear}}</p>
    </div>
  </div>

</div>
<hr>
<hr>
<div class="text-center" style="background-color: rgb(171, 160, 147);">
<form [formGroup]="carPush"  (ngSubmit)="onSubmit()">
  <div class="mb-3" >
    <label for="exampleInputEmail1" class="form-label">Add image link</label><br>
    <input type="text" formControlName="img" class="text-center " style="width: 500px;" aria-describedby="emailHelp">
  </div>
  <br>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Add Name</label><br>
    <input type="text" formControlName="name" class="text-center " style="width: 500px;" aria-describedby="emailHelp">
  </div>
  <br>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Add production year</label> <br>
    <input type="text" formControlName="productionYear" class="text-center " style="width: 500px;"
      aria-describedby="emailHelp">
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>